
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}
<a href="/Teams/AddTeam" class="btn btn-dark">Add Team </a>

<table class="table table-striped table-bordered " id="Data">
    <thead>
        <tr>
            <th>Name</th>
            <th>Logo </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
        <tr>
            <th>Name</th>
            <th>Logo </th>

            <th></th>
        </tr>
    </tfoot>
</table>

@section Scripts{
  
    <script  src="~/js/jsviews/manageteams.js"></script>
}
